@page "/addSecret"
@using PasswordManager.Data
@inject SecretService SecretService
@inject NavigationManager NavManager

@attribute [Authorize]
<div class="container">
    <h1>Add Secret</h1>
    <EditForm Model=@model OnValidSubmit=@FormSubmitted>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>
                Secret Name:
                <InputText @bind-Value=model.secretName class="form-control" />
            </label>
        </div>
        <div class="form-group">
            <label>
                Secret Value:
                <InputText @bind-Value=model.secretValue class="form-control" />
            </label>
        </div>
        <label>
            Master Key:
            <InputText @bind-Value=masterkey class="form-control" />
        </label>
        <input type="submit" class="btn btn-primary" value="Save" />
        <NavLink href="/fetchdata" class="btn btn-primary"
                 role="button">Cancel</NavLink>
    </EditForm>
</div>
@code {
    [CascadingParameter]
    public Notification notification { get; set; }

    private Secret model = new Secret();
    public string masterkey;

    async Task FormSubmitted(EditContext editContext)
    {
        try
        {
            bool formIsValid = editContext.Validate();
            if (formIsValid && editContext.IsModified())
            {
                notification.DisplayLoading();
                await SecretService.AddSecret(model, masterkey);
                NavManager.NavigateTo("/fetchdata");
            }

        }
        catch (Exception ex)
        {
            notification.ProcessError(ex);
        }
        finally
        {
            notification.HideLoading();
        }
    }

}